<template>
  <div>
    <h1>История событий</h1>
    <div class="container">
      <div class="row">
        <ul v-if="histori.length > 0" class="list-history">
          <li v-for="(item, index) in histori" v-bind:key="index">
            {{ item }}
          </li>
        </ul>
        <ul  v-else class="list-history">
          <li>Пока,что пусто</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Histori",
  computed: {
    histori () {
         let histori = this.$store.state.histori
         return histori.reverse()
    },
    errors () {
        return this.$store.state.error
        
    },
  }
};
</script>

<style lang="scss" scoped>
.list-history{
  padding-left: 15px;
  li{
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 15px;
    &:before{
      content: "\27A0";
      color: #fe1111;
      font-size: 22px;
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
</style>