<template>
  <div>
    <h1>Mini Games</h1>
    <div class="container">
      <div class="row">
        <UserInfo></UserInfo>
        <Controls></Controls>
      </div>
      <textarea name="" cols="30" rows="3" v-model="query" @keyup.enter="terminalComand" ></textarea>
      
    </div>
    <div v-if="open" class="modal">
        <h2>Сообщение</h2>
        <p class="messs">{{ message }}</p>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import UserInfo from "@/components/UserInfo.vue";
import Controls from "@/components/Controls.vue";

export default {
  data() {
    return {
      query: ''
    }
  },
  name: "home",
  computed: {
    message() {
      return this.$store.state.message
    },
    open() {
      return this.$store.state.show
    }
  },
  components: {
    UserInfo,
    Controls
  },
  methods: {
    terminalComand() {
      // console.log(this.query);
      this.$store.dispatch('terminalComand', this.query.trim());
      this.query = '';
      this.$store.dispatch('isOpenMess');
    }
  }

};
</script>
<style lang="scss" scoped>
.modal{
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(8, 134, 218);
  padding: 15px 10px;
  h2{
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
  }
  .messs{
    color: rgb(249, 252, 251);
    font-weight: 600;
    font-size: 18px;
  }
}
</style>