<template>
  <div class="control border">
    <button :disabled="!!dizableEat" class="btn red" @click="toEat()">
      Есть
    </button>
    <button :disabled="!!dizableDrink" class="btn blue" @click="toDrink()">
      Пить
    </button>
    <button :disabled="!!dizableRelax" class="btn yellow" @click="toRelax()">
      Отдохнуть
    </button>
    <button :disabled="!!dizableWork" class="btn grey" @click="toWork()">
      Работать
    </button>
  </div>
</template>

<script>
export default {
  name: "Controls",
  computed: {
    dizableEat() {
      return this.$store.state.dizableEat;
    },
    dizableDrink() {
      return this.$store.state.dizableDrink;
    },
    dizableRelax() {
      return this.$store.state.dizableRelax;
    },
    dizableWork() {
      return this.$store.state.dizableWork;
    }
  },
  methods: {
    toEat() {
      this.$store.dispatch("toEat");
      this.$store.dispatch('isOpenMess');
    },
    toDrink() {
      this.$store.dispatch("toDrink");
      this.$store.dispatch('isOpenMess');
    },
    toRelax() {
      this.$store.dispatch("toRelax");
      this.$store.dispatch('isOpenMess');
    },
    toWork() {
      this.$store.dispatch("toWork");
      this.$store.dispatch('isOpenMess');
    }
  }
};
</script>