<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div class="container">
      <div class="row">
        
        <div class="control border">
          <button class="btn red" @click="allEatS()">
            Есть
          </button>
          <button class="btn blue">
            Пить
          </button>
          <button class="btn yellow">
            Отдохнуть
          </button>
          <button class="btn grey">
            Работать
          </button>
        </div>
      </div>
      <textarea name="" cols="30" rows="3"></textarea>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },

  computed: {
    result() {
        return {
          health: this.$store.getters.getUserInfo.health,
          fatigue: this.$store.getters.getUserInfo.fatigue,
          hunger: this.$store.getters.getUserInfo.hunger,
          thirst: this.$store.getters.getUserInfo.thirst
        }
    }
  },
  methods:{
    allEatS() {
      this.$store.dispatch('allEat')
      console.log(this.$store.getters.getUserInfo.health);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
