<template>
  <div class="status border">
        <div class="status_item">
            <p>Здоровье:</p>
            <div class="progress">
                <span  v-bind:class="`width_${health} red`"></span>
            </div>
        </div>
        <div class="status_item">
            <p>Жажда:</p>
            <div class="progress">
                <span v-bind:class="`width_${thirst} blue`"></span>
            </div>
        </div>
        <div class="status_item">
            <p>Голод</p>
            <div class="progress">
                <span v-bind:class="`width_${hunger} yellow`"></span>
            </div>
        </div>
        <div class="status_item">
            <p>Усталость</p>
            <div class="progress">
                <span v-bind:class="`width_${fatigue} grey`"></span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "UserInfo",
//    data() {
//     return {
//         health: this.$store.getters.getUserInfo.health,
//         fatigue: this.$store.getters.getUserInfo.fatigue,
//         hunger: this.$store.getters.getUserInfo.hunger,
//         thirst: this.$store.getters.getUserInfo.thirst
//     }
//   },
  computed: {
    health () {
        return this.$store.state.health
    },
    fatigue () {
        return this.$store.state.fatigue
    },
    hunger () {
        return this.$store.state.hunger
    },
    thirst () {
        return this.$store.state.thirst
    }
  },
}
</script>

<style>

</style>