@mixin r($width) {
    @media only screen and (max-width: $width + "px") {
      @content;
    }
  }
  .container{
    max-width: 860px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 30px;
    @include r(860){
      margin-left: 10px;
      margin-right: 10px;
    }
    @include r(600){
        margin-left: 0;
        margin-right: 0;
    }
    textarea{
      background: #FFFFFF;
      box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.7);
      resize: none;
      margin-top: 40px;
      border: none;
      padding: 10px;
      border: 0;
      width: 100%;
      @include r(860){
        margin-top: 34px;
      }
      @include r(600){
        margin-top: 20px;
      }
    }
    .row{
      display: flex;
      justify-content: space-between;
        @include r(600){
            flex-direction: column;
        }
      .border{
       box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.7);
       padding: 20px;
       max-width: 380px;
       width: 100%;
        @include r(600){
            max-width: 100%;
        }
      }
      .status{
        margin-right: 40px;
        @include r(600){
          margin-right: 0;
          margin-bottom: 20px;
        }
        &_item{
          margin-top: 10px;
          &:first-child{
            margin-top: 0;
          }
          p{
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            font-weight: 500;
          }
          .progress{
            border: 1px solid #34495E;
            box-sizing: border-box;
            height: 10px;
            margin-top: 5px;
            span{
              height: 100%;
            }
          }                   
          @for $i from 0 through 100 {
            span.width_#{$i} {
              width: #{$i*1%};
              display: block;
            }
          }
        }
      }
      .red{
        background: #E74C3C;
      }
      .blue{
        background: #3498DB;
      }
      .yellow{
        background: #E67E22;
      }
      .grey{
        background: #95A5A6;
      }
      .btn{
        border-radius: 5px;
        display: block;
        padding: 7px 5px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 11px;
        width: 100%;
        transition: all 0.25s ease;
        cursor: pointer;
        &:last-child{
          margin-bottom: 0;
        }
        &:hover{
          opacity: 0.7;
        }
        &:disabled{
          opacity: 1.2;
          background-color: rgba(156, 153, 153, 0.7);
        }
      }
      .btn.red{
        box-shadow: 0px 0px 3px rgba(231, 76, 60, 0.5);
      }
      .btn.blue{
        box-shadow: 0px 0px 3px rgba(52, 152, 219, 0.5);
      }
      .btn.yellow{
        box-shadow: 0px 0px 3px rgba(230, 126, 34, 0.5);
      }
      .btn.grey{
        box-shadow: 0px 0px 3px rgba(149, 165, 166, 0.5);
      }
      
    }
  }
  h1{
    font-weight: bold;
    font-size: 32px;
    line-height: 1.3;
    color: #000000;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
  }